<div class="container mt-2">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <div class="d-flex bd-highlight">
          <div class="col-md-6">
            <app-searchmusic (searchQuery)="searchSong($event)"></app-searchmusic>
          </div>
        </div>
        <hr class="my-4">
          <div class="row display: flex;">
          <div class="col-md-12" *ngFor="let musicEl of music?.results">
            <app-music [music]="musicEl"></app-music>
          </div>
          </div>
      </div>
    </div>
  </div>
</div>

