<div class="p-2 bd-highlight">
    <div class="form-group mr-2">
      <div class="input-group input-group-sm">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Search</span>
        </div>
        <input
          class="form-control"
          #str type="text"
          placeholder="..."
          (change)="onSearchMusic(str.value)"
          (blur)="onSearchMusic(str.value)"
          >

      </div>
      <button class="btn btn-secondary btn-sm mt-4"
        (click)="onSearchMusic(str.value)"
        >Submit</button>
    </div>
</div>







