<div class="p-2 bd-highlight">
    <div class="form-group mr-2">
      <p>Search for Song or Artist:</p>
      <div class="input-group input-group-sm">
        <div class="input-group-prepend">
          <button style="cursor:crosshair"
            type="submit"
            class="btn btn-secondary"
            (click)="onSearchMusic(str.value)">Search</button>
        </div>
        <input
          class="form-control"
          #str type="text"
          placeholder="..."
          (change)="onSearchMusic(str.value)"
          >
      </div>
    </div>
</div>







