

<nav class="navbar navbar-light navbar-expand-lg" style="background-color: #3a3b3c">
  <a id="logo" class="navbar-brand" style="color: #f0f8ff">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2ja_DkypRoVZWSUraWCnLiSd6QoJgPXtlxA&usqp=CAU"
      width="35" height="35" class="d-inline-block" alt="stallion"
      >stallionChat
  </a>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" id="home-tab" routerLink="home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="store-tab" routerLink="store" routerLinkActive="active">Store</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="library-tab" routerLink="library" routerLinkActive="active">Library</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="wall-tab" routerLink="wall" routerLinkActive="active">Wall</a>
      </li>
    </ul>
</nav>


<router-outlet></router-outlet>

