<div class="container mt-2">
  <div class="row">
    <div class="col-md-9">
      <div class="jumbotron">
        <hr class="my-4">
        <h1 class="display-4">Wellcome to stallionChat</h1>
        <p class="lead">A place to share and discuss new music with your friends.</p>
        <hr class="my-4">
        <div class="d-flex bd-highlight mb-3">
          <div class="p-2 bd-highlight">
            <a class="btn btn-primary btn-sm mb-3" (click)="onLogInClick()" style="width: 100px"  role="button">Log In</a></div>
          <div class="p-2 bd-highlight">
            <a class="btn btn-primary btn-sm" (click)="onSignUpClick()" style="width: 100px" role="button">Sign Up</a></div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="jumbotron">
        <h5 class="display-5">placeholder</h5>
        <p class="lead">Hold this spot for some feature</p>
        <hr class="my-4">
        <p>Additional text for spot</p>
        <a class="btn btn-primary btn-sm" role="button">Some Button</a>
    </div>
  </div>
  </div>
</div>
